[data-ace-content-inner] {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  overflow: auto !important;
}

[data-ace-item-state="closed"] > [data-ace-content] > [data-ace-content-inner] {
  display: none !important;
}

[data-ace-item-state="closing"] > [data-ace-content] {
  overflow: hidden !important;
}

[data-ace-item-state="opening"] > [data-ace-content] {
  overflow: hidden !important;
}

.accordion {
  margin-top: 1rem;
  margin-bottom: 1rem;
  &__items {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item-heading {
    width: 100%;
    text-align: left;
    border: 0;
    background-color: transparent;
  }
  &__item-content {
    transition-property: height;
    transition-duration: 350ms;
  }
}
//
// Block editor specific styling below.
//
.block-editor {
  [data-type="acf/accordion"] {
    > .acf-block-component {
      > div {
        > .acf-block-preview {
          &::before {
            content: "Edit Accordion Heading in the sidebar \2192";
            display: block;
            width: 100%;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            font-size: 0.75rem;
            text-align: center;
            color: #aaaaaa;
          }
          > [classname="accordion"] {
            > .accordion__items {
              > .block-editor-inner-blocks {
                > .block-editor-block-list__layout {
                  > .block-list-appender {
                    position: relative;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    text-align: center;
                    button {
                      display: inline-flex;
                      width: auto;
                      &::before {
                        content: "Add Accordion Item";
                        margin-left: 8px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &:not(.is-selected) {
      > .acf-block-component {
        > div {
          > .acf-block-preview {
            &::before {
              content: "Click here to edit the Accordion Heading.";
            }
          }
        }
      }
    }
    &:not(.is-selected, .has-child-selected) {
      > .acf-block-component {
        > div {
          > .acf-block-preview {
            > [classname="accordion"] {
              > .eswp-help-text {
                display: none;
              }
              > .accordion__items {
                > .block-editor-inner-blocks {
                  > .block-editor-block-list__layout {
                    &::after {
                      content: "Click here to add accordion items.";
                      display: block;
                      width: 100%;
                      padding-top: 0.25rem;
                      padding-bottom: 0.25rem;
                      padding-left: 0.5rem;
                      padding-right: 0.5rem;
                      font-size: 0.75rem;
                      text-align: center;
                      color: #aaaaaa;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  [data-type="acf/accordion-item"] {
    > .acf-block-component {
      > div {
        > .acf-block-preview {
          &::before {
            content: "Edit Accordion Item Heading in the sidebar \2192";
            display: block;
            width: 100%;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            font-size: 0.75rem;
            text-align: center;
            color: #aaaaaa;
          }
          > .accordion__item {
            > .accordion__item-content {
              > .accordion__item-content-inner {
                > .block-editor-inner-blocks {
                  > .block-editor-block-list__layout {
                    > .block-list-appender {
                      position: relative;
                      padding-top: 10px;
                      padding-bottom: 10px;
                      text-align: center;
                      button {
                        display: inline-flex;
                        width: auto;
                        &::before {
                          content: "Add Block";
                          margin-left: 8px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &:not(.is-selected) {
      > .acf-block-component {
        > div {
          > .acf-block-preview {
            &::before {
              content: "Click here to edit the Accordion Item Heading.";
            }
          }
        }
      }
    }
    &:not(.is-selected, .has-child-selected) {
      > .acf-block-component {
        > div {
          > .acf-block-preview {
            > .accordion__item {
              > .accordion__item-heading {
                .eswp-help-text {
                  display: none;
                }
              }
              > .accordion__item-content {
                > .accordion__item-content-inner {
                  > .block-editor-inner-blocks {
                    > .block-editor-block-list__layout {
                      &::after {
                        content: "Click here to add Accordion Item content blocks.";
                        display: block;
                        width: 100%;
                        padding-top: 0.25rem;
                        padding-bottom: 0.25rem;
                        padding-left: 0.5rem;
                        padding-right: 0.5rem;
                        font-size: 0.75rem;
                        text-align: center;
                        color: #aaaaaa;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}