.eswp-test-component-library-admin-notice {
	padding: 1rem;
	color: #ffffff;
	background-color: #ff0033;
}
.eswp-test-component-library-admin-notice a {
	color: #ffffff;
	font-weight: 700;
}
.eswp-test-component-library-admin-notice ul {
	list-style: disc;
	padding-left: 1rem;
}