.block-editor {
	[data-type="acf/two-columns"] {
		padding: 0 !important; // override wayfinder plugin
		&.has-child-selected {
			> .acf-block-component {
				position: relative;
				&::before {
					content: "Click here to adjust the columns settings in the sidebar (\00A0\00A0\00A0\00A0\00A0) \2192";
					position: absolute;
					display: block;
					width: auto;
					bottom: calc(100%);
					left: 50%;
					transform: translateX(-50%);
					padding-top: 6px;
					padding-bottom: 6px;
					padding-left: 8px;
					padding-right: 8px;
					border-width: 1px;
					border-bottom-width: 0;
					border-style: solid;
					border-color: #aaaaaa;
					border-top-left-radius: 4px;
					border-top-right-radius: 4px;
					font-family: Arial, Helvetica, sans-serif;
					font-size: 12px;
					text-align: center;
					color: #aaaaaa;
					background-color: #ffffff;
					background-image: url('../../assets/admin/wp-gear.svg');
					background-repeat: no-repeat;
					background-size: 14px 14px;
					background-position: calc(100% - 28px) 50%;
				}
			}
		}
		> .acf-block-component {
			> div {
				> .acf-block-preview {
					.two-columns {
						display: block;
						> .block-editor-inner-blocks {
							> .block-editor-block-list__layout {
								display: grid;
								> [data-type="acf/two-columns-column"] {
									width: 100%;
									padding: 0 !important; // override wayfinder plugin
									> .acf-block-component {
										> div {
											> .acf-block-preview {
												> .two-columns__column {
													> .block-editor-inner-blocks {
														> .block-editor-block-list__layout {
															&:empty {
																&::before {
																	content: "Click to add a column block";
																	display: block;
																	padding: 0.25rem;
																	font-family: Arial, Helvetica, sans-serif;
																	font-size: 12px;
																	text-align: center;
																	color: #aaaaaa;
																	background-color: #ffffff;
																}
															}
															> :first-child {
																> .acf-block-component {
																	> div {
																		> .acf-block-preview {
																			> * {
																				margin-top: 0;
																			}
																		}
																	}
																}
															}
															> :last-child {
																> .acf-block-component {
																	> div {
																		> .acf-block-preview {
																			> * {
																				margin-bottom: 0;
																			}
																		}
																	}
																}
															}
															> .block-list-appender {
																position: relative;
																> .block-editor-inserter {
																	> button {
																		width: auto;
																		margin: auto;
																		display: flex;
																		&::before {
																			content: "Add Block To Column";
																			padding-left: 8px;
																		}
																	}
																}
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
						&[data-column-split="50/50"] {
							> .block-editor-inner-blocks {
								> .block-editor-block-list__layout {
									grid-template-columns: 50% 50%;
								}
							}
						}
						&[data-column-split="33/66"] {
							> .block-editor-inner-blocks {
								> .block-editor-block-list__layout {
									grid-template-columns: calc(100% * 1/3) calc(100% * 2/3);
								}
							}
						}
						&[data-column-split="66/33"] {
							> .block-editor-inner-blocks {
								> .block-editor-block-list__layout {
									grid-template-columns: calc(100% * 2/3) calc(100% * 1/3);
								}
							}
						}
						&[data-column-split="25/75"] {
							> .block-editor-inner-blocks {
								> .block-editor-block-list__layout {
									grid-template-columns: calc(100% * 1/4) calc(100% * 3/4);
								}
							}
						}
						&[data-column-split="75/25"] {
							> .block-editor-inner-blocks {
								> .block-editor-block-list__layout {
									grid-template-columns: calc(100% * 3/4) calc(100% * 1/4);
								}
							}
						}
						&[data-left-column-vertical-alignment="top"] {
							> .block-editor-inner-blocks {
								> .block-editor-block-list__layout {
									> [data-type="acf/two-columns-column"]:nth-child(1) {
										align-self: start;
									}
								}
							}
						}
						&[data-left-column-vertical-alignment="middle"] {
							> .block-editor-inner-blocks {
								> .block-editor-block-list__layout {
									> [data-type="acf/two-columns-column"]:nth-child(1) {
										align-self: center;
									}
								}
							}
						}
						&[data-left-column-vertical-alignment="bottom"] {
							> .block-editor-inner-blocks {
								> .block-editor-block-list__layout {
									> [data-type="acf/two-columns-column"]:nth-child(1) {
										align-self: end;
									}
								}
							}
						}
						&[data-right-column-vertical-alignment="top"] {
							> .block-editor-inner-blocks {
								> .block-editor-block-list__layout {
									> [data-type="acf/two-columns-column"]:nth-child(2) {
										align-self: start;
									}
								}
							}
						}
						&[data-right-column-vertical-alignment="middle"] {
							> .block-editor-inner-blocks {
								> .block-editor-block-list__layout {
									> [data-type="acf/two-columns-column"]:nth-child(2) {
										align-self: center;
									}
								}
							}
						}
						&[data-right-column-vertical-alignment="bottom"] {
							> .block-editor-inner-blocks {
								> .block-editor-block-list__layout {
									> [data-type="acf/two-columns-column"]:nth-child(2) {
										align-self: end;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}