.two-columns {
	$selector: &;
	$stacked-breakpoint: 600px;
	display: grid;
	column-gap: 1rem;
	row-gap: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	&__column {
		> :first-child {
			margin-top: 0;
		}
		> :last-child {
			margin-bottom: 0;
		}
	}
	// column split
	&[data-column-split="50/50"] {
		grid-template-columns: 50% 50%;
	}
	&[data-column-split="33/66"] {
		grid-template-columns: calc(100% * 1/3) calc(100% * 2/3);
	}
	&[data-column-split="66/33"] {
		grid-template-columns: calc(100% * 2/3) calc(100% * 1/3);
	}
	&[data-column-split="25/75"] {
		grid-template-columns: calc(100% * 1/4) calc(100% * 3/4);
	}
	&[data-column-split="75/25"] {
		grid-template-columns: calc(100% * 3/4) calc(100% * 1/4);
	}
	&[data-column-split="50/50"],
	&[data-column-split="33/66"],
	&[data-column-split="66/33"],
	&[data-column-split="25/75"],
	&[data-column-split="75/25"] {
		@media (max-width: $stacked-breakpoint) {
			grid-template-columns: auto;
			grid-template-rows: auto auto;
		}
	}
	// left column vertical alignment
	&__column {
		&:nth-child(1) {
			[data-left-column-vertical-alignment="top"] & {
				align-self: start;
			}
			[data-left-column-vertical-alignment="middle"] & {
				align-self: center;
			}
			[data-left-column-vertical-alignment="bottom"] & {
				align-self: end;
			}
		}
	}
	// right column vertical alignment
	&__column {
		&:nth-child(2) {
			[data-right-column-vertical-alignment="top"] & {
				align-self: start;
			}
			[data-right-column-vertical-alignment="middle"] & {
				align-self: center;
			}
			[data-right-column-vertical-alignment="bottom"] & {
				align-self: end;
			}
		}
	}
	// stacked order
	@media (max-width: $stacked-breakpoint) {
		&__column {
			&:nth-child(1) {
				[data-stacked-order="left-to-right"] & {
					grid-row: 1;
				}
				[data-stacked-order="right-to-left"] & {
					grid-row: 2;
				}
			}
			&:nth-child(2) {
				[data-stacked-order="left-to-right"] & {
					grid-row: 2;
				}
				[data-stacked-order="right-to-left"] & {
					grid-row: 1;
				}
			}
		}
	}
}